<div class="container">
  <h1>{{projectsTitle}}</h1>
  <div *ngIf="!projects" class="spinner-grow text-muted"></div>
  <app-date-range-filter (loadFilteredEntries)="loadFilteredEntries()" *ngIf="projects"></app-date-range-filter>
  <ngb-accordion #a="ngbAccordion" *ngIf="projects" [destroyOnHide]="true" activeIds="custom-panel-1">
    <ngb-panel *ngFor="let project of projects;index as i">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">{{ project.Description}}</h5>
          <div>
            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Auswählen</button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-entries [index]="i" [projectId]="project.id"></app-entries>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
