<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

      <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
             [type]="question['type']" class="form-control required">

      <input *ngSwitchCase="'number'" [formControlName]="question.key" [readonly]="question.readonly"
             class="form-control"
             [id]="question.key" [type]="question['type']">

      <select *ngSwitchCase="'dropdown'" [formControlName]="question.key" [id]=" question.key" class="form-control">
          <!--      i prefer to make Normal as default?-->
          <!--      <option value="" disabled selected hidden>Auswählen</option> -->
          <option *ngFor="let opt of question['options']" [value]="opt.id">{{opt.value}}</option>
      </select>

    <textarea class="form-control" [id]="question.key" *ngSwitchCase="'textarea'" [formControlName]="question.key"></textarea>
    <div class="input-group" *ngSwitchCase="'date'">
        <input class="form-control" [id]="question.key"  [formControlName]="question.key" placeholder="dd.mm.yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
    </div>
      <div class="input-group row">
          <div *ngSwitchCase="'timeStart'" class="col">
              <ngb-timepicker [(ngModel)]="timeStart" [formControlName]="question.key" [id]="question.key"
                              [meridian]="false" [size]="'small'"></ngb-timepicker>
          </div>
          <div *ngSwitchCase="'timeEnd'" class="col">
              <ngb-timepicker [(ngModel)]="timeEnd" [formControlName]="question.key" [id]="question.key"
                              [meridian]="false" [size]="'small'"></ngb-timepicker>
          </div>
      </div>
  </div>

    <div *ngIf="!isValid" class="alert alert-warning" role="alert">{{question.label}} is required</div>
</div>
