<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
           [id]="question.key" [type]="question['type']">

    <input class="form-control" *ngSwitchCase="'number'" [formControlName]="question.key"
           [id]="question.key" [type]="question['type']">

    <select class="form-control" [id]=" question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
    <option *ngFor="let opt of question['options']" [value]="opt.id">{{opt.value}}</option>
    </select>

    <textarea class="form-control" [id]="question.key" *ngSwitchCase="'textarea'" [formControlName]="question.key"></textarea>
    <div class="input-group" *ngSwitchCase="'date'">
        <input class="form-control" [id]="question.key"  [formControlName]="question.key" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
    </div>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>

