<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="form-group"*ngFor="let question of questions">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid || form.pristine">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
