<div class="container">
  <div *ngIf="!contracts" class="spinner-grow text-muted"></div>
  <table *ngIf="contracts" class="table table-sm">
    <thead>
    <tr>
      <th i18n scope="col">Kunde</th>
      <th i18n scope="col">Beschreibung</th>
      <th i18n scope="col">Von</th>
      <th i18n scope="col">Bis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contracts; index as i" [routerLink]="['/timetracking/projects', contract.id]">
      <td>{{ contract.CustomerName }}</td>
      <td>{{ contract.Description }}</td>
      <td>{{ contract.StartDateDisplay | date }}</td>
      <td>{{ contract.EndDateDisplay | date }}</td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
