<div>
  <div *ngIf="!showEntries" class="spinner-grow text-muted"></div>
  <table *ngIf="showEntries" class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Beschreibung</th>
        <th scope="col">Datum</th>
        <th scope="col">Stunden</th>
        <th scope="col">Zuschlag</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of entries[index]; index as i">
        <td>{{ entry.Description }}</td>
        <td>{{ entry.StartDateDisplay | date }}</td>
        <td>{{ entry.Hours}}</td>
        <td>{{ entry.AdditionalFeeId.value }}</td>
        <td><button class="btn btn-sm btn-outline-primary ml-2" (click)="open(entry)">Edit</button></td>
      </tr>
    </tbody>
      <button (click)="open()" class="btn btn-sm btn-outline-primary ml-2">Neu</button>
  </table>

</div>
<hr>
